<div class="container-fluid">
    <div class="row">

        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Bootstrap Duallistbox</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Multiple</label>
                            <select class="duallistbox" multiple="multiple">
                                <option selected>Alabama</option>
                                <option>Alaska</option>
                                <option>California</option>
                                <option>Delaware</option>
                                <option>Tennessee</option>
                                <option>Texas</option>
                                <option>Washington</option>
                            </select>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                Visit <a href="https://github.com/istvan-ujjmeszaros/bootstrap-duallistbox#readme">Bootstrap
                    Duallistbox</a> for more examples and information about
                the plugin.
            </div>
        </div>
        <!-- /.card -->

        <div class="col-md-12">
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Id</th>
                                <th>Target</th>
                                <th>Market</th>
                                <th>Current Price</th>
                                <th>Market Cap</th>
                                <th>Cap Rank</th>
                                <th>Day High</th>
                                <th>Day Low</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each markets}}
                            <tr>
                                <td>{{inc @index}}</td>
                                <td>{{id}}</td>
                                <td>{{symbol}}</td>
                                <td>{{Name}}</td>
                                <td>{{formatCurrency current_price}}</td>
                                <td>{{market_cap}}</td>
                                <td>{{market_cap_rank}}</td>
                                <td>{{formatCurrency high_24h}}</td>
                                <td>{{formatCurrency low_24h}}</td>

                                <td class="project-actions text-right">
                                    <a class="btn btn-info btn-sm" href="/coingecko/tickers/{{id}}">
                                        <i class="fas fa-share-square"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-12">
            <a href="/assets/new" class="btn btn-primary float-right">New Asset</a>
        </div>
    </div>
</div>